.login-btn,
.login-btn a,
.name-logo a,
.menu-btn {
    color: black;
}

.body-comp {
    background-color: var(--secondary-color);
}

.compare-section {
    height: 80vh;
}

.compare-section .heading {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compare-section .heading h1 {
    font-family: var(--heading-font);
    font-size: 4rem;
}

.compare-section .heading {
    font-family: var(--text-font);
    font-size: 1.3rem;
}

.select-models-section {
    min-height: 50vh;
    width: 85%;
    margin-left: 8%;
    background-color: var(--primary-color);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
}

.select-models-section .select-model-btn {
    width: 450px;
    padding: 5%;
    font-size: 1.3rem;
    font-family: var(--text-font);
    border-radius: 8px;
    border-color: black;
    color: black;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

.select-models-section .select-model-btn:hover {
    background-color: var(--primary-color);
}


.menu-right {
    height: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    color: black;
    overflow-x: hidden;
    transition: transform 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    width: 80%;
    left: 0;
    padding-bottom: 2%;
    z-index: 1;
    transform: translateX(200%);
}

.menu-right.open {
    transform: translateX(25%);
}

.menu-right .close-btn {
    float: right;
    font-size: 2rem;
    color: black;
    border: none;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 5%;
    padding: 0.5% 1%;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.menu-right .close-btn:hover {
    background-color: var(--secondary-color);
}

.menu-right h3 {
    margin-top: 1.2%;
    margin-left: 5%;
    font-family: var(--text-font);
    font-size: 1.6rem;
}

.mr-p {
    margin-top: 1.2%;
    margin-left: 5%;
    font-family: var(--text-font);
    color: rgb(80, 80, 80);
}

.sm-p {
    display: flex;
    gap: 25%;
    margin-left: 5%;
    margin-top: 2%;
}

.sm-p p:nth-child(1) {
    font-size: 1.5rem;
}

.sm-p p:nth-child(2) {
    font-size: 1.7rem;
}

.display-models {
    display: flex;
}

.filters ul {
    list-style: none;
    padding: 0;
    margin-left: 60px;
    margin-top: 50px;
}

.filters li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.filters input[type="radio"] {
    appearance: none;
    width: 28px;
    height: 28px;
    border: 2px solid #666;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: border-color 0.2s ease-in-out;
}

.filters input[type="radio"]:hover {
    border-color: black;
}

.filters input[type="radio"]:checked {
    border-width: 8px;
    border-color: black;
}

.filters label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.filters label img {
    width: 120px;
    height: auto;
    object-fit: contain;
}



.options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 3%;
    margin-left: 125px;
}

.options .model-option {
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: 40%;
    /* min-height: 250px; */
    padding-bottom: 2%;
    transition: all 0.3s ease-in-out;
}

.options .model-option:hover {
    background-color: var(--primary-color);
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    .f-type {
        background-color: var(--secondary-color);
    }
}


.options .model-option img {
    width: 250px;
    margin: 10% 14%;
}

.options .model-option .f-type {
    margin: 5% 0 0 8%;
    padding: 1%;
    background-color: var(--primary-color);
    border-radius: 5px;
    width: 22%;
    text-align: center;
}

.options .model-option .m-type {
    margin: 1% 0 8% 8%;
    color: rgb(80, 80, 80);
}

.options .model-option h2 {
    margin-left: 8%;
}

.options .model-option .power {
    display: flex;
    gap: 30px;
}

.options .model-option .power i {
    color: rgb(80, 80, 80);
}

.options .model-option .power .engine {
    margin-left: 8%;
}

.options .model-option button {
    margin-left: 8%;
    margin-top: 5%;
    padding: 5%;
    width: 85%;
    background-color: transparent;
    color: black;
    border-radius: 4px;
    border-color: black;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.options .model-option button:hover {
    background-color: var(--secondary-color);
}

/* .s-btn {
    width: 20%;
    position: relative;
    display: flex;
    gap: 50px;
    margin-left: 12%;
    padding-top: 2%;
}

.s1-image {
    left: 25px;
    position: absolute;
    top: -100px;
} */

.s-btn {
    width: 20%;
    position: absolute;
    display: flex;
    gap: 20%;
    margin-left: 38%;
    padding-top: 2%;
    top: -120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

.s1 img {
    width: 400px;
    margin-left: 100px;
}

.s1 p {
    font-size: 2rem;
    font-weight: 900;
    padding-left: 80px;
    font-family: var(--heading-font);
}

.s1 .remove-btn {
    float: right;
    margin-right: 2%;
    background-color: transparent;
    border-radius: 4px;
    border-color: transparent;
    color: rgb(80, 80, 80);
    padding: 0 2px;
}

.s1 .remove-btn:hover {
    background-color: var(--primary-color);
}

.hidden {
    display: none;
}