.profile {
    padding-top: 10%;
}

.profile-container {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.cars-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.car-card {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: #f9f9f9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.car-card img {
    width: 100%;
    border-radius: 8px;
}
